.hero-splash {
    background: #23026d;
    background: -webkit-linear-gradient(top left, #23026d 0%, #3d64f4 100%);
    background: -moz-linear-gradient(top left, #23026d 0%, #3d64f4 100%);
    background: -o-linear-gradient(top left, #23026d 0%, #3d64f4 100%);
    background: linear-gradient(to bottom right, #23026d 0%, #3d64f4 100%);
    padding: 1rem;
    height: auto;
    color: #ffffff;
    position: relative;
}
