<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<link rel="stylesheet" type="text/css" href="/css/markdown.css" />
			<link rel="stylesheet" type="text/css" href="/css/colors/friendly.css" />
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:stephen.knutter@gmail.com">email</a></li>
	        		<li><a href="https://github.com/stephen-knutter">github.com/stephen-knutter</a></li>
				</ul>
			</footer>
		</body>
	</html>
