<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<link rel="stylesheet" type="text/css" href="/css/markdown.css" />
			<link rel="stylesheet" type="text/css" href="/css/colors/default.css" />
		</head>
		<body>
			{% if site.tags != "" %}
			  {% include collecttags.html %}
			{% endif %}
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/tags">Tags</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}

			
			<img src="/assets/partywizard.gif" alt="wizard">
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:stephen.knutter@gmail.com">email</a></li>
	        		<li><a href="https://github.com/stephen-knutter">github.com/stephen-knutter</a></li>
				</ul>
			</footer>
		</body>
	</html>
